body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}   

    a{
        text-decoration: none;
    }

    .Btn {
        display: flex;
        justify-content: center;   
        justify-content:center;
    }

    .Btn a{
        padding: 15px 45px;
        margin-left: 30px;
        text-align: center;
        font-size: 14px;
        color: #fff;
        border: none;
        background-image: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
        border-radius: 10px;
        position: relative;
        z-index: 1;
        transition: color 0.5s;
        }

   .Btn a span{
       width: 0;
       height: 100%;
       position: absolute;
       top: 0;
       left: 0;
       background: rgb(158, 199, 245);
       z-index: -1;
       transition: 0.5s;
   }
   .Btn a:hover span{
       width: 100%;
       border-radius: 10px;
       text-decoration: none;
   }
   .Btn a:hover{
       color: black;
       border-radius: 10px;
       text-decoration: none;
   }

